<div class="modal-overlay" {{on "click" this.close}}>    
  <div class="modal-content" {{on "click" (stop-propagation)}}>    
    <h2>{{@confirmationTitle}}</h2>    
    <p>{{@message}}</p>    
    <div class="flex justify-center gap-4">
      <button class="bg-red btn edit-delete-btn flex align-center gap-4 w-max" type="button" {{on "click" this.confirm}}>Confirm</button>    
      <button class="bg-white text-black border-1px-black btn edit-delete-btn flex align-center gap-4 w-max" type="button" {{on "click" this.close}}>Cancel</button>    
    </div>
  </div>    
</div>
