<LoadingOverlay @isLoading={{this.loading.isLoading}} />
<div class="flex align-center gap-4 mb-8">
  <BackButton />  <p class="page-title">{{if this.model.member.id "Edit Member" "Add Member"}}</p>
</div>
<DynamicForm @firstFor="member-name" @firstLabel="Member Name:" @firstValue={{this.model.member.name}} @firstFunc={{this.updateMemberName}} @secondFor="member-role" @secondLabel="Member Role:" @secondValue={{this.model.member.role}} @secondFunc={{this.updateMemberRole}} @onSave={{this.saveMember}} />