<LoadingOverlay @isLoading={{this.loading.isLoading}} />
<div class="flex align-center gap-4 mb-8">
  <BackButton />
  <p class="page-title">{{if this.model.id "Edit Team" "Add New Team"}}</p>
</div>
<DynamicForm @firstFor="name" @firstLabel="Name:" @firstValue={{this.model.name}} @firstFunc={{this.updateTeamName}} @secondFor="description" @secondLabel="Description:" @secondValue={{this.model.description}} @secondFunc={{this.updateTeamDescription}} @onSave={{this.saveTeam}} />  